.divClassName {
    width: 300px;
    height: 100px;
    margin: auto;
    text-align: center;
    font-size: 32px;
    font-family: 'Wendy One', sans-serif;
}

.text {
    text-align: center;
    font-size: 32px;
    font-family: 'Wendy One', sans-serif;
    animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }

